body {
	font-family: 'Roboto', sans-serif;
	margin: 40px auto;
	line-height: 1.6;
	font-size: 18px;
	color: rgba(58, 71, 80, 0.75);
	padding: 0 10px;
	background: #fefefe
}

@media (min-width: 720px) {
	body {
		max-width: 70%
	}
}

@media (max-width: 720px) {
	body {
		max-width: 90%
	}
}

ul {
	list-style: none
}

.intro h1 {
	margin-bottom: 2px
}

.intro h1, em {
	color: #3A4750
}

.intro a {
	border-bottom: none;
	color: inherit;
	text-decoration: none
}

.intro a:hover {
	border-bottom: 1px solid rgba(58, 71, 80, 0.5);
	color: inherit;
	text-decoration: none
}

.stuff h2 {
	color: #3A4750
}


.stuff a {
	color: #2185D5;
	display: inline-block;
	font-weight: 400;
	position: relative;
	text-decoration: none
}

.stuff a:before {
	background: rgba(33, 133, 213, .1);
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 25px;
	width: 0;
	-webkit-transition: width 0s ease, background .4s ease;
	transition: width 0s ease, background .4s ease
}

.stuff a:after {
	background: rgba(33, 133, 213, .1);
	content: '';
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 25px;
	width: 0;
	-webkit-transition: width .4s ease;
	transition: width .4s ease
}

.stuff a:hover:before {
	width: 100%;
	-webkit-transition: width .4s ease;
	transition: width .4s ease
}

.stuff a:hover:after {
	background: 0 0;
	width: 100%;
	-webkit-transition: all 0s ease;
	transition: all 0s ease
}

.social {
	animation: fadein .5s both;
	animation-delay: .4s;
	border-top: 1px solid rgba(58, 71, 80, 0.2);
	padding: 20px 0
	margin-top: 32px;
	margin-bottom: 32px
}

.social li {
	display: inline-block;
	font-size: 15px;
	margin-right: 12px;
	opacity: .6;
	transition: 100ms
}

.social a {
	border-bottom: none;
	color: inherit;
	display: inline-block;
	text-decoration: none
}

.social a:hover {
	border-bottom: 1px solid rgba(58, 71, 80, 0.5);
	color: inherit;
	text-decoration: none
}